<a href="https://colab.research.google.com/github/neo4j/graph-data-science-client/blob/main/examples/load-data-via-graph-construction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load data to a projected graph via graph construction

This notebook shows the usage of the `gds.alpha.graph.construct` method (available only in GDS 2.1+) to build a graph directly in memory.

**NOTE:** If you are using AuraDS, it is currently not possible to write the projected graph back to Neo4j.

##Â Setup

We need an environment where Neo4j and GDS are available, for example AuraDS (which comes with GDS preinstalled) or Neo4j Desktop. 

Once the credentials to this environment are available, we can install the `graphdatascience` package and create the `gds` object.

In [ ]:
!pip install graphdatascience==1.3

In [4]:
# Import the client
from graphdatascience import GraphDataScience

# Replace with the actual connection URI and credentials
NEO4J_CONNECTION_URI = "neo4j+s://xxxxxxxx.databases.neo4j.io"
NEO4J_USERNAME = "neo4j"
NEO4J_PASSWORD = ""

# Configure the client with AuraDS-recommended settings if using AuraDS
gds = GraphDataScience(NEO4J_CONNECTION_URI, auth=(NEO4J_USERNAME, NEO4J_PASSWORD), aura_ds=True)

We also import `pandas` to create a Pandas `DataFrame` from the original data source.

In [5]:
import pandas as pd

## Load the Cora dataset

In [6]:
# TODO: use URLs within the client repo when the notebook is added there
CORA_CONTENT = (
    "https://raw.githubusercontent.com/neo4j/graph-data-science/master/test-utils/src/main/resources/cora.content"
)
CORA_CITES = (
    "https://raw.githubusercontent.com/neo4j/graph-data-science/master/test-utils/src/main/resources/cora.cites"
)

We can load each CSV locally as a Pandas `DataFrame`.

In [7]:
content = pd.read_csv(CORA_CONTENT, header=None)
cites = pd.read_csv(CORA_CITES, header=None)

We need to perform an additional preprocessing step to convert the `subject` field (which is a string in the dataset) into an integer, because node properties have to be numerical in order to be projected into a graph. We can use a map for this.

In [8]:
SUBJECT_TO_ID = {
    "Neural_Networks": 0,
    "Rule_Learning": 1,
    "Reinforcement_Learning": 2,
    "Probabilistic_Methods": 3,
    "Theory": 4,
    "Genetic_Algorithms": 5,
    "Case_Based": 6,
}

We can now reate a new `DataFrame` with a `nodeId` field, a list of node labels,
and the additional node properties `subject` (using the `SUBJECT_TO_ID` 
mapping) and `features` (converting all the feature columns to a single
array column).

In [9]:
nodes = pd.DataFrame().assign(
    nodeId=content[0],
    labels="Paper",
    subject=content[1].replace(SUBJECT_TO_ID),
    features=content.iloc[:, 2:].apply(list, axis=1),
)

Let's check the first 5 rows of the new `DataFrame`:

In [10]:
nodes.head()

    nodeId labels  subject                                           features
0    31336  Paper        0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1  1061127  Paper        1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...
2  1106406  Paper        2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3    13195  Paper        2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4    37879  Paper        3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

Now we create a new `DataFrame` containing the relationships between the nodes.
To create the equivalent of an undirected graph, we need to add direct
and inverse relationships explicitly.

In [11]:
dir_relationships = pd.DataFrame().assign(sourceNodeId=cites[0], targetNodeId=cites[1], relationshipType="CITES")
inv_relationships = pd.DataFrame().assign(sourceNodeId=cites[1], targetNodeId=cites[0], relationshipType="CITES")

relationships = pd.concat([dir_relationships, inv_relationships]).drop_duplicates()

Again, let's check the first 5 rows of the new `DataFrame`:

In [13]:
relationships.head()

   sourceNodeId  targetNodeId relationshipType
0            35          1033            CITES
1            35        103482            CITES
2            35        103515            CITES
3            35       1050679            CITES
4            35       1103960            CITES

Finally, we can create the in-memory graph.

In [14]:
G = gds.alpha.graph.construct("cora-graph", nodes, relationships)

##Â Use the graph

Let's check that the new graph has been created:

In [15]:
gds.graph.list()

,degreeDistribution,graphName,database,memoryUsage,sizeInBytes,nodeCount,relationshipCount,configuration,density,creationTime,modificationTime,schema
0,"{'p99': 19, 'min': 1, 'max': 168, 'mean': 3.89...",cora-graph,neo4j,30 MiB,32110623,2708,10556,{'relationshipQuery': 'UNWIND $relationships a...,0.00144,2022-09-09T15:02:48.820074000+00:00,2022-09-09T15:02:49.657932000+00:00,"{'graphProperties': {}, 'relationships': {'CIT..."

Let's also count the nodes in the graph:

In [16]:
G.node_count()

2708

We can stream the value of the `subject` node property for
each node in the graph, printing only the first 10.

In [17]:
gds.graph.streamNodeProperties(G, ["subject"]).head(10)

   nodeId nodeProperty  propertyValue
0      35      subject              5
1      40      subject              5
2     114      subject              2
3     117      subject              2
4     128      subject              2
5     130      subject              2
6     164      subject              4
7     288      subject              2
8     424      subject              1
9     434      subject              2

##Â Cleanup

In [ ]:
G.drop()